<!DOCTYPE html>
<html>
  <head>
   <script src="/socket.io/socket.io.js"></script>
      <title>Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/chat.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="myapp" ng-controller="hello">
    <div ng-show="nameForm" class="nameForm">
      <form>
        <h1>Enter Name</h1>
        <div class="form-group">
          <input type="text" ng-model="name" class="lead form-control">
          <button class="btn btn-block btn-success" ng-click="sendName()">Submit!</button>
        </div>
      </form>
    </div>
   
    <div ng-show="nameExists">
      <h1>Name Already Exists Select new User Name</h1>
    </div>

    <!--welcome Screen-->
    <div ng-show="welcomeScreen" class="welcomeScreen">
      <div class="title">
        <h1>Chat Application</h1>        
      </div>
      <div class="subTitle">
        <h2>Select users from left to chat</h2>
      </div>
      <div class="image">
        <img src="arrowLeft.png">
      </div>
    </div>
    <!-- this is for the individual Chat appliocation --> 
    <div ng-show="chatBox"  class="chatbox">
      <div class="heading">
        <h1>Chat Window of {{user.name}}</h1>
      </div>
      <div class="chatContent">
        <div ng-repeat="value in messages" class="eachMessage">
         <span class="lead">{{value.name}}:</span>
          <span>{{value.msg}}</span>
        </div>
      </div>
      <div class="messageSender">
        <input type="text" ng-model="msg" placeholder="Type Here" class="inputField">
        <button ng-click="sendMesage()" class="btn btn-primary pull-right messageSendButton" >send</button>
      </div>
    </div>
    <div ng-show="nameNew" class="usersList">
      <ul>
        <li ng-repeat="value in TotalUsers" class="well {{value.activeOrNot}}" ng-click="chatUser($index)">
            <a class="lead" >{{value.name}}</a><span>{{}}</span>
        </li>
      </ul> 
    </div>
  </body>
  <script src="../js/angular.js"></script>
  <script src="../js/socketFactory.js"></script>
</html>
